<%= form_for @resume, html: { multipart: true } do |f| %>  


    <%= f.label :full_name %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter your full name" %>

</br>

    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control', placeholder: "example@example.com" %>



    <%= f.label :phone_number %>
    <%= f.text_field :p_number, class: 'form-control', placeholder: "111-111-1111" %>



    <%= f.label :position %>
    <%= f.text_field :position, class: 'form-control', placeholder: "server/busboy/runner..." %>

</br>

    <%= f.label :cover_letter %>
    <%= f.text_area :cover, rows: 8, class: 'form-control', placeholder: "Enter your cover letter" %>

</br>

    <%= f.label :resume %></br><small>Best file to use!(.pdf, .png, .jpg)</small>
    <%= f.file_field :document, class: 'form-control', placeholder: "Best file to use!(.pdf, .png, .jpg)" %>

</br>

    <%= f.label :reference %>
    <%= f.text_area :reference, rows: 4, class: 'form-control', placeholder: "Enter your reference" %>


</br>


  <div class="form-group">
    <%= f.submit "submit", class: 'btn btn-success' %>
  </div>

<% end %>