<h1>
  <%= @resume.name %> - <%= @resume.position %>
  <small>
    submitted <%= time_ago_in_words(@resume.created_at) %>
  </small>
</h1>

<br>

<h4><%= @resume.email %> || <%= @resume.p_number %></h4>

<br>

<div class="row">
  <div class="col-md-8">
    <h3>Cover letter:</h3>
    <p><%= simple_format @resume.cover %></p>
  </div>
</div>

<br>

<h3><%= link_to "Show Resume", @resume.document.url, target: "_blank" %></h3>

<br>
<div class="row">
  <div class="col-md-8">
    <h3>References:</h3>
    <p><%= simple_format @resume.reference %></p>
  </div>
</div>

